<section id="headerSection">
  <div class="container">
    <div class="navbar">
      <div class="container">
        <button type="button" class="btn btn-navbar active" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <h1><%= link_to "Gurjargaud <small>.com</small>".html_safe, root_path, class: 'brand' %></h1>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li class="active"><%= link_to "Home", root_path %></li>
            <li class=""><%= link_to "Search", "javascript:void(0)" %></li><!--a href="services.html">What we do?</a-->
            <li class=""><%= link_to "My Account", "javascript:void(0)" %></li><!--a href="about_us.html">Who we are?</a-->
            <li class=""><%= link_to "Events", "javascript:void(0)" %></li><!--a href="portfolio.html">Portfolio</a-->
            <li class=""><%= link_to "Services", "javascript:void(0)" %></li><!--a href="blog.html">Blog</a-->
            <li class=""><%= link_to "Organizer", "javascript:void(0)" %></li><!--a href="contact.html">Support</a-->
            <li class=""><%= link_to "Contact Us", "javascript:void(0)" %></li>
            <!--li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="elements.html">Page Elements</a></li>
                <li><a href="comingsoon.html">Coming soon page</a></li>
              </ul>
            </li-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
