<section id="carouselSection" style="text-align:center">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div  style="text-align:center"  class="item active">
        <div class="wrapper">
          <%= image_tag "/assets/carousel/business_website_templates_1.jpg", alt: "template" %>
        </div>
      </div>
      <div  style="text-align:center"  class="item">
        <div class="wrapper">
          <%= image_tag "/assets/carousel/business_website_templates_2.jpg", alt: "template" %>
        </div>
      </div>
      <div  style="text-align:center"  class="item">
        <div class="wrapper">
          <%= image_tag "/assets/carousel/business_website_templates_3.jpg", alt: "template" %>
        </div>
      </div>
      <div  style="text-align:center"  class="item">
        <div class="wrapper">
          <%= image_tag "/assets/carousel/business_website_templates_4.jpg", alt: "template" %>
        </div>
      </div>
      <div  style="text-align:center"  class="item">
        <div class="wrapper">
          <%= image_tag "/assets/carousel/business_website_templates_5.jpg", alt: "template" %>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</section>
